<a href="https://colab.research.google.com/github/LRLeite/Data-Analytics/blob/main/covid_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h2>Importar dataset diretamente do Github</h2> 
Informações sobre o dataset: https://github.com/owid/covid-19-data/tree/master/public/data

Obs: sistema de separação de milhar e decimal em inglês

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv"
df = pd.read_csv(url)
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [2]:
#Data do primeiro e último registro
print(f'Primeiro registro: {df.date.min()}')
print(f'Última atualização: {df.date.max()}')

Primeiro registro: 2020-01-01
Última atualização: 2022-11-03

<h2>Selecionar colunas de interesse</h2>

In [3]:
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [4]:
columns_final = ['continent', 'location', 'date', 'total_cases', 'total_deaths', 'total_cases_per_million', 'total_deaths_per_million', 'total_tests', 
                 'total_tests_per_thousand', 'total_vaccinations', 'people_vaccinated', 'people_fully_vaccinated','total_vaccinations_per_hundred', 
                 'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred', 'population']

df.drop(columns=df.columns.difference(columns_final), inplace = True)

df.head()

,continent,location,date,total_cases,total_deaths,total_cases_per_million,total_deaths_per_million,total_tests,total_tests_per_thousand,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,population
0,Asia,Afghanistan,2020-02-24,5.0,NaN,0.122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41128772.0
1,Asia,Afghanistan,2020-02-25,5.0,NaN,0.122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41128772.0
2,Asia,Afghanistan,2020-02-26,5.0,NaN,0.122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41128772.0
3,Asia,Afghanistan,2020-02-27,5.0,NaN,0.122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41128772.0
4,Asia,Afghanistan,2020-02-28,5.0,NaN,0.122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41128772.0

<h2>Tratar dados</h2>

In [5]:
#Substituir valores NaN por zero
df.fillna(df[['total_cases', 'total_deaths', 'total_cases_per_million', 'total_deaths_per_million', 'total_tests', 'total_tests_per_thousand', 'total_vaccinations', 'people_vaccinated', 
              'people_fully_vaccinated', 'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred', 'population']].fillna(0), inplace = True)

df.head()

,continent,location,date,total_cases,total_deaths,total_cases_per_million,total_deaths_per_million,total_tests,total_tests_per_thousand,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,population
0,Asia,Afghanistan,2020-02-24,5.0,0.0,0.122,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,41128772.0
1,Asia,Afghanistan,2020-02-25,5.0,0.0,0.122,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,41128772.0
2,Asia,Afghanistan,2020-02-26,5.0,0.0,0.122,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,41128772.0
3,Asia,Afghanistan,2020-02-27,5.0,0.0,0.122,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,41128772.0
4,Asia,Afghanistan,2020-02-28,5.0,0.0,0.122,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,41128772.0

In [6]:
#Converter float para int
df[['total_cases', 'total_deaths', 'total_tests', 'total_vaccinations', 'people_vaccinated', 'people_fully_vaccinated', 'population']] = df[['total_cases', 'total_deaths', 'total_tests', 'total_vaccinations', 
                                                                                                                                             'people_vaccinated', 'people_fully_vaccinated', 'population']].astype(int)

In [7]:
df.head()

,continent,location,date,total_cases,total_deaths,total_cases_per_million,total_deaths_per_million,total_tests,total_tests_per_thousand,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,population
0,Asia,Afghanistan,2020-02-24,5,0,0.122,0.0,0,0.0,0,0,0,0.0,0.0,0.0,41128772
1,Asia,Afghanistan,2020-02-25,5,0,0.122,0.0,0,0.0,0,0,0,0.0,0.0,0.0,41128772
2,Asia,Afghanistan,2020-02-26,5,0,0.122,0.0,0,0.0,0,0,0,0.0,0.0,0.0,41128772
3,Asia,Afghanistan,2020-02-27,5,0,0.122,0.0,0,0.0,0,0,0,0.0,0.0,0.0,41128772
4,Asia,Afghanistan,2020-02-28,5,0,0.122,0.0,0,0.0,0,0,0,0.0,0.0,0.0,41128772

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232333 entries, 0 to 232332
Data columns (total 16 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   continent                            219218 non-null  object
 1   location                             232333 non-null  object
 2   date                                 232333 non-null  object
 3   total_cases                          232333 non-null  int64
 4   total_deaths                         232333 non-null  int64
 5   total_cases_per_million              232333 non-null  float64
 6   total_deaths_per_million             232333 non-null  float64
 7   total_tests                          232333 non-null  int64
 8   total_tests_per_thousand             232333 non-null  float64
 9   total_vaccinations                   232333 non-null  int64
 10  people_vaccinated                    232333 non-null  int64
 11  people_fully_vaccinated              232333 non-null  int64
 12  total_vaccinations_per_hundred       232333 non-null  float64
 13  people_vaccinated_per_hundred        232333 non-null  float64
 14  people_fully_vaccinated_per_hundred  232333 non-null  float64
 15  population                           232333 non-null  int64
dtypes: float64(6), int64(7), object(3)
memory usage: 28.4+ MB

# **Análises**

<h3>Número de casos, mortes e vacinas por continente</h3>

In [9]:
df.continent.unique()

array(['Asia', nan, 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [10]:
import pandas as pd

data_continents = df[['location','total_cases', 'total_deaths', 'total_vaccinations']].loc[df.location.isin(['Asia', 'Europe', 'Africa', 'North America', 'South America','Oceania'])]
df_continents = data_continents.groupby('location')[['total_cases', 'total_deaths', 'total_vaccinations']].max().sort_values(by = 'location').applymap(lambda x: "{:,}".format(x))
df_continents

               total_cases total_deaths total_vaccinations
location
Africa          12,388,153      256,982        682,529,531
Asia           189,895,660    1,494,733      8,777,437,809
Europe         236,705,061    1,964,728      1,343,078,317
North America  115,741,830    1,527,801      1,102,416,315
Oceania         12,646,137       20,645         80,437,295
South America   64,330,296    1,332,629        929,342,423

<h3>Ranking com os 10 países que apresentaram mais mortes por covid-19</h3>

In [11]:
df.groupby('location')['total_deaths'].max().sort_values(ascending = False).head(10)
#Precisa remover valores que não pertencem a um único país, com excessão de World

location
World                  6597533
High income            2711726
Upper middle income    2498537
Europe                 1964728
North America          1527801
Asia                   1494733
Lower middle income    1339511
South America          1332629
European Union         1163392
United States          1072222
Name: total_deaths, dtype: int64

In [12]:
#Remover valores que não pertencem a um único país e visualizar o ranking, com excessão dos dados mundiais
df_ranking = df.loc[df.location.isin(['High income', 'Asia', 'Upper middle income', 'Europe', 'Africa', 'North America', 'Lower middle income', 'South America', 'European Union','Oceania', 'Low income', 'International', 'Micronesia (country)']) == False] 
deaths_vAbsolute = df_ranking.groupby('location')['total_deaths'].max().sort_values(ascending = False).head(11).map('{:0,.0f}'.format)
deaths_vAbsolute = pd.DataFrame(deaths_vAbsolute)
deaths_vAbsolute

               total_deaths
location
World             6,597,533
United States     1,072,222
Brazil              688,267
India               530,479
Russia              382,510
Mexico              330,410
Peru                217,025
United Kingdom      209,947
Italy               179,101
Indonesia           158,737
France              157,268

<h3>Ranking com os 10 países que apresentaram mais mortes por milhão por covid-19</h3>

In [13]:
deaths_per_million = df_ranking.groupby('location')['total_deaths_per_million'].max().sort_values(ascending = False).head(10).map('{:0,.0f}'.format)
deaths_per_million = pd.DataFrame(deaths_per_million)
deaths_per_million

                       total_deaths_per_million
location
Peru                                      6,374
Bulgaria                                  5,589
Bosnia and Herzegovina                    5,004
Hungary                                   4,810
North Macedonia                           4,568
Georgia                                   4,513
Montenegro                                4,444
Croatia                                   4,259
Czechia                                   3,966
Slovakia                                  3,654

<h3>Ranking com os 10 países que tiveram os maiores percentuais do total de mortes por covid no mundo</h3>

In [14]:
#Selecionar valores
world = df_ranking[['location', 'total_deaths']].loc[df_ranking.location == 'World'].max()

countries = df_ranking[['location', 'total_deaths']].loc[df_ranking.location != 'World'].groupby('location').max()

In [15]:
#Visualizar o ranking
import pandas as pd

percent_deaths = (countries.total_deaths/world.total_deaths).sort_values(ascending = False).head(10)
percent_deaths = pd.DataFrame(percent_deaths)
percent_deaths = pd.DataFrame(percent_deaths).style.format({'total_deaths': "{:.2%}"})
percent_deaths

<h3>Ranking de países mais populosos do mundo</h3>

In [16]:
rank_population = df_ranking.groupby('location')['population'].max().sort_values(ascending = False).head(10).map('{:0,.0f}'.format)
rank_population = pd.DataFrame(rank_population)
rank_population

                  population
location
World          7,975,105,024
China          1,425,887,360
India          1,417,173,120
United States    338,289,856
Indonesia        275,501,344
Pakistan         235,824,864
Nigeria          218,541,216
Brazil           215,313,504
Bangladesh       171,186,368
Russia           144,713,312

<h2>Números da vacinação por continente</h2>

In [17]:
data_vaccination = df[['location','total_vaccinations', 'people_vaccinated', 'people_fully_vaccinated', 'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
                       'people_fully_vaccinated_per_hundred']].loc[df.location.isin(['Asia', 'Europe', 'Africa', 'North America', 'South America','Oceania'])]

df_vaccination = data_vaccination.groupby('location')[['total_vaccinations', 'people_vaccinated', 'people_fully_vaccinated', 'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred', 
                                                       'people_fully_vaccinated_per_hundred']].max().sort_values(by = 'location').applymap(lambda x: "{:,}".format(x))
df_vaccination

,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred
location,,,,,,
Africa,"682,529,531","438,296,046","352,026,144",47.84,30.72,24.67
Asia,"8,777,437,809","3,623,073,700","3,397,115,281",185.91,76.74,71.95
Europe,"1,343,078,317","519,897,068","497,006,735",180.33,69.8,66.73
North America,"1,102,416,315","452,813,911","390,049,735",183.64,75.43,64.97
Oceania,"80,437,295","29,133,156","28,008,516",178.6,64.68,62.19
South America,"929,342,423","372,093,266","334,572,286",212.75,85.18,76.59

<h2>Ranking com os 10 países que tiveram o maior número de pessoas totalmente vacinadas a cada 100 habitantes</h2>

In [18]:
df_ranking.groupby('location')['people_fully_vaccinated_per_hundred'].max().sort_values(ascending = False).head(10)

location
Gibraltar               126.76
Qatar                   105.66
United Arab Emirates    103.72
Pitcairn                100.00
Brunei                   99.20
Singapore                90.90
Chile                    90.23
Hong Kong                89.91
China                    89.19
Cuba                     89.18
Name: people_fully_vaccinated_per_hundred, dtype: float64

<h2>Ranking com os 10 países que tiveram o menor número de pessoas totalmente vacinadas a cada 100 habitantes</h2>

In [19]:
df_ranking.groupby('location')['people_fully_vaccinated_per_hundred'].max().sort_values(ascending = True).head(13)

location
North Korea                     0.00
Palau                           0.00
Eritrea                         0.00
Western Sahara                  0.00
Guam                            0.00
Vatican                         0.00
United States Virgin Islands    0.00
Puerto Rico                     0.00
Saint Pierre and Miquelon       0.00
Northern Mariana Islands        0.00
Marshall Islands                0.00
Burundi                         0.18
Yemen                           2.01
Name: people_fully_vaccinated_per_hundred, dtype: float64

Alguns países acima não forneceram dados, são regidos por outros países ou tiveram apuração atrelada a outros países. Dessa forma, optei por remover esses registros para gerar o ranking desta análise.

In [20]:
#Dropar países que não forneceram dados, que são regidos por outros países ou que tiveram apuração atrelada a outros países
people_fully_vaccinated_per_hundred = df_ranking.loc[df_ranking.location.isin(['United States Virgin Islands', 'Saint Pierre and Miquelon', 'Puerto Rico', 'Western Sahara', 'Guam',
                                                                               'Northern Mariana Islands', 'Marshall Islands', 'Eritrea', 'Vatican', 'North Korea', 'Palau']) == False] 
                                                                               
#Ranking final
people_fully_vaccinated_per_hundred.groupby('location')['people_fully_vaccinated_per_hundred'].max().sort_values(ascending = True).head(10)

location
Burundi                         0.18
Yemen                           2.01
Haiti                           2.04
Papua New Guinea                2.92
Democratic Republic of Congo    3.76
Cameroon                        4.61
Madagascar                      5.82
Senegal                         7.29
Mali                            9.34
Syria                           9.51
Name: people_fully_vaccinated_per_hundred, dtype: float64