<h2>Importar dataset diretamente do Github</h2>

In [0]:
from pyspark import SparkFiles

url = "https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv"
sc.addFile(url)
 
path  = SparkFiles.get('owid-covid-data.csv')
df = spark.read.csv("file://" + path, header = True, inferSchema = True, sep = ',').toPandas()

In [0]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [0]:
#Data do primeiro e último registro
print(f'Primeiro registro: {df.date.min()}')
print(f'Última atualização: {df.date.max()}')

Primeiro registro: 2020-01-01 00:00:00
Última atualização: 2022-11-02 00:00:00

<h2>Selecionar colunas de interesse</h2

In [0]:
df.columns

Out[76]: Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [0]:
columns_final = ['continent', 'location', 'date', 'total_cases', 'total_deaths', 'total_cases_per_million', 'total_deaths_per_million', 'total_tests', 'total_tests_per_thousand', 'total_vaccinations', 'people_vaccinated', 'people_fully_vaccinated',
'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred', 'population']

df.drop(columns=df.columns.difference(columns_final), inplace = True)

df.head()

,continent,location,date,total_cases,total_deaths,total_cases_per_million,total_deaths_per_million,total_tests,total_tests_per_thousand,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,population
0,Asia,Afghanistan,2020-02-24,5.0,NaN,0.122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41128772.0
1,Asia,Afghanistan,2020-02-25,5.0,NaN,0.122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41128772.0
2,Asia,Afghanistan,2020-02-26,5.0,NaN,0.122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41128772.0
3,Asia,Afghanistan,2020-02-27,5.0,NaN,0.122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41128772.0
4,Asia,Afghanistan,2020-02-28,5.0,NaN,0.122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41128772.0

<h2>Tratar dados<\h2>

In [0]:
#Substituir valores NaN por zero
df.fillna(df[['total_cases', 'total_deaths', 'total_cases_per_million', 'total_deaths_per_million', 'total_tests', 'total_tests_per_thousand', 'total_vaccinations', 'people_vaccinated', 'people_fully_vaccinated', 'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred', 'population']].fillna(0), inplace = True)

df.head()

,continent,location,date,total_cases,total_deaths,total_cases_per_million,total_deaths_per_million,total_tests,total_tests_per_thousand,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,population
0,Asia,Afghanistan,2020-02-24,5.0,0.0,0.122,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,41128772.0
1,Asia,Afghanistan,2020-02-25,5.0,0.0,0.122,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,41128772.0
2,Asia,Afghanistan,2020-02-26,5.0,0.0,0.122,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,41128772.0
3,Asia,Afghanistan,2020-02-27,5.0,0.0,0.122,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,41128772.0
4,Asia,Afghanistan,2020-02-28,5.0,0.0,0.122,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,41128772.0

In [0]:
#Converter float para int
df[['total_cases', 'total_deaths', 'total_cases_per_million', 'total_deaths_per_million', 'total_tests', 'total_tests_per_thousand', 'total_vaccinations', 'people_vaccinated', 'people_fully_vaccinated', 'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred', 'population']] = df[['total_cases', 'total_deaths', 'total_cases_per_million', 'total_deaths_per_million', 'total_tests', 'total_tests_per_thousand', 'total_vaccinations', 'people_vaccinated', 'people_fully_vaccinated', 'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred', 'population']].astype(int)

In [0]:
df.head()

,continent,location,date,total_cases,total_deaths,total_cases_per_million,total_deaths_per_million,total_tests,total_tests_per_thousand,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,population
0,Asia,Afghanistan,2020-02-24,5,0,0,0,0,0,0,0,0,0,0,0,41128772
1,Asia,Afghanistan,2020-02-25,5,0,0,0,0,0,0,0,0,0,0,0,41128772
2,Asia,Afghanistan,2020-02-26,5,0,0,0,0,0,0,0,0,0,0,0,41128772
3,Asia,Afghanistan,2020-02-27,5,0,0,0,0,0,0,0,0,0,0,0,41128772
4,Asia,Afghanistan,2020-02-28,5,0,0,0,0,0,0,0,0,0,0,0,41128772

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232095 entries, 0 to 232094
Data columns (total 16 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   continent                            218993 non-null  object
 1   location                             232095 non-null  object
 2   date                                 232095 non-null  datetime64[ns]
 3   total_cases                          232095 non-null  int64
 4   total_deaths                         232095 non-null  int64
 5   total_cases_per_million              232095 non-null  int64
 6   total_deaths_per_million             232095 non-null  int64
 7   total_tests                          232095 non-null  int64
 8   total_tests_per_thousand             232095 non-null  int64
 9   total_vaccinations                   232095 non-null  int64
 10  people_vaccinated                    232095 non-null  int64
 11  people_fully_vaccinated              232095 non-null  int64
 12  total_vaccinations_per_hundred       232095 non-null  int64
 13  people_vaccinated_per_hundred        232095 non-null  int64
 14  people_fully_vaccinated_per_hundred  232095 non-null  int64
 15  population                           232095 non-null  int64
dtypes: datetime64[ns](1), int64(13), object(2)
memory usage: 28.3+ MB

<h1>Análises</h1>

<h3>Número de mortes por continente</h3>

In [0]:
df.continent.unique()

Out[82]: array(['Asia', nan, 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [0]:
data_continents = df[['location','total_deaths']].loc[df.location.isin(['Asia', 'Europe', 'Africa', 'North America', 'South America','Oceania'])]
df_continents = data_continents.groupby('location')['total_deaths'].max().sort_values(ascending = False).map('{:0,.0f}'.format)
df_continents = pd.DataFrame(df_continents).replace(".", ",")
df_continents

,total_deaths
location,
Europe,"1,963,046"
North America,"1,526,993"
Asia,"1,494,430"
South America,"1,332,520"
Africa,"256,981"
Oceania,"20,602"

<h3>Ranking com os 10 países que apresentaram mais mortes por covid-19</h3>

In [0]:
df.groupby('location')['total_deaths'].max().sort_values(ascending = False).head(10)
#Precisa remover valores que não pertencem a um único país, com excessão de World

Out[84]: location
World                  6594587
High income            2709214
Upper middle income    2498389
Europe                 1963046
North America          1526993
Asia                   1494430
Lower middle income    1339227
South America          1332520
European Union         1162709
United States          1071578
Name: total_deaths, dtype: int64

In [0]:
#Remover valores que não pertencem a um único país e visualizar o ranking, com excessão de World
df_ranking = df.loc[df.location.isin(['High income', 'Asia', 'Upper middle income', 'Europe', 'Africa', 'North America', 'Lower middle income', 'South America', 'European Union','Oceania', 'Low income']) == False] 
deaths_vAbsolute = df_ranking.groupby('location')['total_deaths'].max().sort_values(ascending = False).head(11).map('{:0,.0f}'.format)
deaths_vAbsolute = pd.DataFrame(deaths_vAbsolute).replace(".", ",")
deaths_vAbsolute

,total_deaths
location,
World,"6,594,587"
United States,"1,071,578"
Brazil,"688,219"
India,"530,461"
Russia,"382,438"
Mexico,"330,410"
Peru,"217,025"
United Kingdom,"209,208"
Italy,"179,101"
Indonesia,"158,695"
France,"157,213"

<h3>Ranking com os 10 países que apresentaram mais mortes por milhão por covid-19</h3>

In [0]:
deaths_per_million = df_ranking.groupby('location')['total_deaths_per_million'].max().sort_values(ascending = False).head(10).map('{:0,.0f}'.format)
deaths_per_million = pd.DataFrame(deaths_per_million).replace(".", ",")
deaths_per_million

,total_deaths_per_million
location,
Peru,"6,373"
Bulgaria,"5,588"
Bosnia and Herzegovina,"5,002"
Hungary,"4,809"
North Macedonia,"4,568"
Georgia,"4,513"
Montenegro,"4,444"
Croatia,"4,256"
Czechia,"3,965"
Slovakia,"3,652"

<h3>Ranking com os 10 países que tiveram os maiores percentuais do total de mortes por covid no mundo</h3>

In [0]:
#Selecionar valores
world = df_ranking[['location', 'total_deaths']].loc[df_ranking.location == 'World'].max()

countries = df_ranking[['location', 'total_deaths']].loc[df_ranking.location != 'World'].groupby('location').max()

In [0]:
#Visualizar o ranking
import pandas as pd

percent_deaths = (countries.total_deaths/world.total_deaths).sort_values(ascending = False).head(10)
rank_population = pd.DataFrame(rank_population).replace(".", ",")
percent_deaths = pd.DataFrame(percent_deaths).style.format({'total_deaths': "{:.2%}"})
percent_deaths

,total_deaths
location,
United States,16.25%
Brazil,10.44%
India,8.04%
Russia,5.80%
Mexico,5.01%
Peru,3.29%
United Kingdom,3.17%
Italy,2.72%
Indonesia,2.41%
France,2.38%

<h3>Ranking de países mais populosos</h3>

In [0]:
rank_population = df_ranking.groupby('location')['population'].max().sort_values(ascending = False).head(10).map('{:0,.0f}'.format)
rank_population = pd.DataFrame(rank_population).replace(".", ",")
rank_population

,population
location,
World,"7,975,105,024"
China,"1,425,887,360"
India,"1,417,173,120"
United States,"338,289,856"
Indonesia,"275,501,344"
Pakistan,"235,824,864"
Nigeria,"218,541,216"
Brazil,"215,313,504"
Bangladesh,"171,186,368"
Russia,"144,713,312"